<div class="container mx-auto w-full px-8 pt-2 mb-32">
    <div class="md:text-3xl text-xl font-bold">
        {{weerstation.naam}}
    </div>
    <div class="cursor-pointer hover:-translate-x-2 duration-500 transition-all inline-block" *ngIf="!loading"
        routerLink="../../weerstations" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fas fa-arrow-left mr-1"></i>
        weerstations
    </div>
    <div *ngIf="loading">
        <div class="w-6/12 md:w-3/12 bg-gray-300 h-12 rounded-lg animate-pulse mb-1"></div>
        <div class="w-2/12 md:w-1/12 bg-gray-300 h-4 rounded-full animate-pulse"></div>
    </div>


    <app-weerstations-alarm-schakelwaardes-form></app-weerstations-alarm-schakelwaardes-form>

    <div class="flex flex-wrap">
        <div class="md:text-2xl text-lg font-bold my-2 grow">Alarmwaardes</div>
        <div class="flex row justify-end">
            <button (click)="toevoegenAlarmwaarde()"
                class="p-2 px-5 bg-transparent border-2 border-wbRed-500 text-wbRed-500 text-md font-bold rounded-lg transition-colors duration-700 transform hover:bg-wbRed-500 hover:text-white mb-2">
                AlarmWaarde toevoegen
            </button>
        </div>
    </div>

    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8 mb-2">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 table-fixed">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col"
                                    class="w-1/4 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Sensor
                                </th>
                                <th scope="col"
                                    class="w-1/4 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Operator
                                </th>
                                <th scope="col"
                                    class="w-1/4 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Waarde
                                </th>
                                <th scope="col"
                                    class="w-1/4 px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Acties
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="loading">
                            <tr *ngFor="let n of [1, 2, 3]">
                                <td class="px-6 py-4">
                                    <div class="w-6/12 bg-gray-300 h-4 rounded-full animate-pulse mb-1"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="w-6/12 bg-gray-300 h-4 rounded-full animate-pulse mb-1"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="w-4/12 bg-gray-300 h-4 rounded-full animate-pulse mr-1"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex justify-around">
                                        <div class="w-3/12 bg-gray-300 h-4 rounded-full animate-pulse mr-1"></div>
                                        <div class="w-4/12 bg-gray-300 h-4 rounded-full animate-pulse"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!loading" class="bg-white divide-y divide-gray-200">
                            <tr *ngIf="weerstation.alarm_waardes == 0">
                                <td colspan="4" class="text-center px-6 py-4 whitespace-nowrap">
                                    <div class="text-md text-red-500 font-bold">
                                        Dit weerstation bevat geen alarmwaardes
                                    </div>
                                </td>
                            </tr>
                            <tr *ngFor="let alarmWaarde of weerstation.alarm_waardes">
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <!-- <div class="text-sm font-medium text-gray-900">
                                    <span *ngIf="gebruiker.voornaam && gebruiker.achternaam; else showNietVervolledigd">{{ gebruiker.voornaam + ' ' + gebruiker.achternaam }}</span>
                                    <ng-template #showNietVervolledigd>
                                        <span class="inline-flex font-semibold rounded-full bg-orange-100 text-orange-800">
                                            Nog niet vervolledigd door gebruiker
                                        </span>
                                    </ng-template>
                                </div> -->
                                    <div class="text-sm text-gray-500">
                                        {{alarmWaarde.sensor.naam}}
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <!-- <div class="text-sm text-gray-900">
                                    <span *ngIf="gebruiker.organisatie?.naam; else geenOrganisatie">{{ gebruiker.organisatie?.naam }}</span>
                                    <ng-template #geenOrganisatie>
                                        <span>TODO: icon</span>
                                    </ng-template>
                                </div> -->
                                    <div class="text-sm text-gray-500">
                                        {{alarmWaarde.switch_logic.type}}
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-500">
                                        {{alarmWaarde.waarde}}
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                                    <div class="flex justify-around">
                                        <a class="text-indigo-600 hover:text-indigo-900 cursor-pointer xl:mr-0 mr-1"
                                            (click)="wijzigAlarmWaarde(alarmWaarde.id)">Wijzig</a>
                                        <a class="text-indigo-600 hover:text-indigo-900 cursor-pointer xl:ml-1 ml-0"
                                            (click)="verwijderAlarmWaarde(alarmWaarde.id)">Verwijder</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <!-- SCHAKELWAARDES -->
    <div class="flex flex-wrap">
        <div class="md:text-2xl text-lg font-bold my-2 grow">Schakelwaardes</div>
        <div class="flex row justify-end">
            <button (click)="toevoegenSchakelwaarde()"
                class="p-2 px-5 bg-transparent border-2 border-wbRed-500 text-wbRed-500 text-md font-bold rounded-lg transition-colors duration-700 transform hover:bg-wbRed-500 hover:text-white mb-2">
                SchakelWaarde toevoegen
            </button>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 table-fixed">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col"
                                    class="w-1/4 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Sensor
                                </th>
                                <th scope="col"
                                    class="w-1/4 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Operator
                                </th>
                                <th scope="col"
                                    class="w-1/4 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Waarde
                                </th>
                                <th scope="col"
                                    class="w-1/4 px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Acties
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="loading">
                            <tr *ngFor="let n of [1, 2, 3]">
                                <td class="px-6 py-4">
                                    <div class="w-6/12 bg-gray-300 h-4 rounded-full animate-pulse mb-1"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="w-6/12 bg-gray-300 h-4 rounded-full animate-pulse mb-1"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="w-4/12 bg-gray-300 h-4 rounded-full animate-pulse mr-1"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex justify-around">
                                        <div class="w-3/12 bg-gray-300 h-4 rounded-full animate-pulse mr-1"></div>
                                        <div class="w-4/12 bg-gray-300 h-4 rounded-full animate-pulse"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!loading" class="bg-white divide-y divide-gray-200">
                            <tr *ngIf="weerstation.schakel_waardes == 0">
                                <td colspan="4" class="text-center px-6 py-4 whitespace-nowrap">
                                    <div class="text-md text-red-500 font-bold">
                                        Dit weerstation bevat geen schakelwaardes
                                    </div>
                                </td>
                            </tr>
                            <tr *ngFor="let schakelWaarde of weerstation.schakel_waardes">
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <!-- <div class="text-sm font-medium text-gray-900">
                                    <span *ngIf="gebruiker.voornaam && gebruiker.achternaam; else showNietVervolledigd">{{ gebruiker.voornaam + ' ' + gebruiker.achternaam }}</span>
                                    <ng-template #showNietVervolledigd>
                                        <span class="inline-flex font-semibold rounded-full bg-orange-100 text-orange-800">
                                            Nog niet vervolledigd door gebruiker
                                        </span>
                                    </ng-template>
                                </div> -->
                                    <div class="text-sm text-gray-500">
                                        {{schakelWaarde.sensor.naam}}
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <!-- <div class="text-sm text-gray-900">
                                    <span *ngIf="gebruiker.organisatie?.naam; else geenOrganisatie">{{ gebruiker.organisatie?.naam }}</span>
                                    <ng-template #geenOrganisatie>
                                        <span>TODO: icon</span>
                                    </ng-template>
                                </div> -->
                                    <div class="text-sm text-gray-500">
                                        {{schakelWaarde.switch_logic.type}}
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-500">
                                        {{schakelWaarde.waarde}}
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                                    <div class="flex justify-around">
                                        <a class="text-indigo-600 hover:text-indigo-900 cursor-pointer mr-1 xl:mr-1"
                                            (click)="wijzigSchakelWaarde(schakelWaarde.id)">Wijzig</a>
                                        <a class="text-indigo-600 hover:text-indigo-900 cursor-pointer ml-1 xl:ml-1"
                                            (click)="verwijderSchakelWaarde(schakelWaarde.id)">Verwijder</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>