<div class="mb-32">
    <!-- Leaflet map -->
    <div id="leafletmap" class="w-screen h-96 custom-popup"></div>
    
    <div class="mx-8 mt-4 sm:mx-20 lg:mx-40">
        <h2 class="lg:text-3xl text-xl font-bold pt-2 grow">Publieke weerstations</h2>
    
        <!-- Loading -->
        <div *ngIf="loading">
            <div *ngFor="let n of [1, 2, 3]">
                <div class="w-full bg-gray-300 h-40 rounded-md animate-pulse mb-1"></div>
            </div>
        </div>
    
        <!-- Not loading -->
        <div *ngIf="!loading">
            <!-- List of weerstations -->
            <div *ngFor="let weerstation of weerstations" class="border-2 rounded-md my-2 p-4" [attr.id]="weerstation.id">
                <div class="flex flex-col sm:flex-row justify-between">
                    <h3 class="text-xl font-semibold">{{ weerstation.naam }}</h3>
                    <a href="weerstation/{{weerstation.id}}/dashboard"
                        class="font-bold hover:underline cursor-pointer flex items-center text-wbRed-500">
                        <span>Toon metingen</span><i class="ml-2 fas fa-arrow-right"></i>
                    </a>
                </div>
                <hr class="my-2">
                <div *ngIf="weerstation.organisatie; else showGeenOrganisatie">
                    <p><span class="font-medium mr-1">Organisatie:</span>{{ weerstation.organisatie.naam }}</p>
                </div>
                <ng-template #showGeenOrganisatie>
                    <p>Dit weerstation heeft geen organisatie.</p>
                </ng-template>
                <hr class="my-2">
                <div *ngIf="weerstation.laatsteMeting; else showGeenMeting">
                    <ng-container *ngIf="weerstation.laatsteMeting === 'loading'; else showLaatsteGegevens">
                        <div>
                            <i class="fas fa-circle-notch fa-spin mr-2 text-wbRed-500 text-2xl text-center"></i>
                        </div>
                    </ng-container>
                    <ng-template #showLaatsteGegevens>
                        <p class="font-medium">Laatste gegevens ({{ weerstation.laatsteMeting.time | date:'d/W/yyyy HH:mm:ss'}}):</p>
                        <p><span class="font-medium mr-1">Locatie:</span>{{ weerstation.laatsteMeting.location }}</p>
                        <p><span class="font-medium mr-1">Omgevingstemperatuur:</span>{{ weerstation.laatsteMeting.t1 }}
                            <span>&#8451;</span></p>
                    </ng-template>
                </div>
                <ng-template #showGeenMeting>
                    <p>Dit weerstation heeft nog geen metingen.</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>