<div class="flex rounded-lg shadow-lg h-screen bg-white sm:mx-0">
  <div class=" w-1/2 mx-auto">
    <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
    
      
      <div class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
        <div class="sm:text-center lg:text-left">
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block xl:inline">Niemand doet het zoals </span>
            <span class="block text-wbRed-500 xl:inline">WIJN</span>
          </h1>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
          Nooit meer last van onvoorspelbare weersituaties op uw wijngaard? Het kan met de weerstations van Wijnbouwer.be! Vraag vandaag uw weerstation aan:          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a routerLink="/login"  routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-wbRed-500 hover:bg-wbRed-700 md:py-4 md:text-lg md:px-10">Login</a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-wbRed-400 hover:bg-wbRed-600 md:py-4 md:text-lg md:px-10">
                Promotievideo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="hidden md:block md:w-1/2" style="background: url('assets/images/bg1_cut.jpg'); background-size: cover; background-position: center center;"></div>

</div>