<div *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex mx-4">
    <div class="relative my-6 mx-auto max-w-6xl w-11/12 sm:w-9/12 md:w-7/12 lg:w-5/12">
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                <h3 class="text-3xl font-semibold">
                    {{ title }}
                </h3>
                <button
                    class="p-1 ml-auto bg-transparent border-0 text-black opacity-50 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                    (click)="closeModal()">
                    <span
                        class="bg-transparent text-black opacity-50 h-6 w-6 text-2xl block outline-none focus:outline-none">
                        ×
                    </span>
                </button>
            </div>
            <!--body-->
            <div class="relative p-6 flex-auto">
                <form (ngSubmit)="onSubmit()" #organisatieBeheerderUitnodigenForm="ngForm">
                    <div class="bg-white">
                        <div>
                            <label for="uniekeCode" class="block font-medium text-gray-700">Activatiecode</label>
                            <input type="text" name="uniekeCode" id="uniekeCode" [(ngModel)]="uniekeCode"
                                #activatieCode="ngModel" required
                                class="mt-1 p-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-wbRed-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <div *ngIf="activatieCode.invalid && (activatieCode.dirty || activatieCode.touched)"
                                class="text-xs text-red-500 font-medium">
                                <span *ngIf="activatieCode.errors?.['required']">
                                    Activatiecode is veplicht.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3 text-center sm:px-6">
                        <button type="submit" [disabled]="!organisatieBeheerderUitnodigenForm.form.valid"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm font-medium rounded-md text-white bg-wbRed-500 hover:bg-wbRed-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-wbRed-500 disabled:bg-gray-400 disabled:cursor-not-allowed">
                            Toevoegen
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>