
    <div class="mt-4">
        <label class="p-4" for="beginDate">Start datum:</label>
        <input [(ngModel)]="begin" type="date" id="begin" name="begin" value="{{begin}}" min="2016-01-01"
            max="2024-12-31">

        <label class="p-4" for="eindDate">Eind datum:</label>
        <input [(ngModel)]="eind" id="eind" type="date" name="eind" value="{{eind}}" min="2016-01-01"
            max="2024-12-31" >
        <button (click)="updateDate()" type="submit"
            class="ml-5 text-gray-700 bg-white border border-gray-700 hover:bg-wbRed-200 focus:ring-4 focus:ring-wbRed-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-wbRed-200 dark:text-dark dark:border-wbRed-500 dark:hover:bg-wbRed-200 dark:hover:border-wbRed-500 dark:focus:ring-wbRed-500">
            Pas toe
        </button>
        <button>
            Location
        </button>
    </div>

<div class="grid grid-cols-2 gap-2 mt-3">
    <div class="ml-3 p-4 mb-4 text-sm text-gray-700 bg-gray-50 rounded-lg dark:bg-gray-50 dark:text-gray-300">
        <apx-chart [series]="chartOptionsT1.series" [chart]="chartOptionsT1.chart" [noData]="chartOptionsT1.noData"
            [dataLabels]="chartOptionsT1.dataLabels" [xaxis]="chartOptionsT1.xaxis" [yaxis]="chartOptionsT1.yaxis"
            [title]="chartOptionsT1.title" [fill]="chartOptionsT1.fill" [stroke]="chartOptionsT1.stroke"
            [colors]="chartOptionsT1.colors"></apx-chart>
    </div>
    <div class="mr-3 p-4 mb-4 text-sm text-gray-700 bg-gray-50 rounded-lg dark:bg-gray-50 dark:text-gray-300">
        <apx-chart [series]="chartOptionsT2.series" [chart]="chartOptionsT2.chart" [noData]="chartOptionsT2.noData"
            [dataLabels]="chartOptionsT2.dataLabels" [xaxis]="chartOptionsT2.xaxis" [yaxis]="chartOptionsT2.yaxis"
            [title]="chartOptionsT2.title" [stroke]="chartOptionsT2.stroke" [fill]="chartOptionsT2.fill"
            [colors]="chartOptionsT2.colors"></apx-chart>
    </div>
</div>

<div class="grid grid-cols-2 gap-2 mt-3">
    <div class="ml-3 p-4 mb-4 text-sm text-gray-700 bg-gray-50 rounded-lg dark:bg-gray-50 dark:text-gray-300">
        <apx-chart [series]="chartOptionsLuchtvochtigheid.series" [chart]="chartOptionsLuchtvochtigheid.chart" [noData]="chartOptionsLuchtvochtigheid.noData"
            [dataLabels]="chartOptionsLuchtvochtigheid.dataLabels" [xaxis]="chartOptionsLuchtvochtigheid.xaxis"
            [yaxis]="chartOptionsLuchtvochtigheid.yaxis" [title]="chartOptionsLuchtvochtigheid.title"
            [fill]="chartOptionsLuchtvochtigheid.fill" [stroke]="chartOptionsLuchtvochtigheid.stroke"
            [colors]="chartOptionsLuchtvochtigheid.colors"></apx-chart>
    </div>
    <div class="mr-3 p-4 mb-4 text-sm text-gray-700 bg-gray-50 rounded-lg dark:bg-gray-50 dark:text-gray-300">
        <apx-chart [series]="chartOptionsBatterijPercentage.series" [chart]="chartOptionsBatterijPercentage.chart" [noData]="chartOptionsBatterijPercentage.noData"
            [dataLabels]="chartOptionsBatterijPercentage.dataLabels" [xaxis]="chartOptionsBatterijPercentage.xaxis"
            [yaxis]="chartOptionsBatterijPercentage.yaxis" [title]="chartOptionsBatterijPercentage.title"
            [stroke]="chartOptionsBatterijPercentage.stroke" [fill]="chartOptionsBatterijPercentage.fill"
            [colors]="chartOptionsBatterijPercentage.colors"></apx-chart>
    </div>
</div>

<div class="text-center">
    <button (click)="updateT1()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-dark focus:ring-4 focus:ring-pink-200 dark:focus:ring-pink-800">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-50 rounded-md group-hover:bg-opacity-0">
            T1 sensor
        </span>
    </button>
    <button (click)="updateT2()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-dark focus:ring-4 focus:ring-pink-200 dark:focus:ring-pink-800">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-50 rounded-md group-hover:bg-opacity-0">
            T2 sensor
        </span>
    </button>
    <button (click)="updateT3()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-dark focus:ring-4 focus:ring-pink-200 dark:focus:ring-pink-800">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-50 rounded-md group-hover:bg-opacity-0">
            T3 sensor
        </span>
    </button>
</div>
<div class="ml-4 mr-4 p-4 mb-4 text-sm text-gray-700 bg-gray-50 rounded-lg dark:bg-gray-50 dark:text-gray-300">
    <div>
        <apx-chart [series]="prechartOptionsTemperatuur.series" [chart]="prechartOptionsTemperatuur.chart"
            [dataLabels]="prechartOptionsTemperatuur.dataLabels" [title]="prechartOptionsTemperatuur.title"
            [noData]="prechartOptionsTemperatuur.noData" [fill]="prechartOptionsTemperatuur.fill"
            [xaxis]="prechartOptionsTemperatuur.xaxis" [yaxis]="prechartOptionsTemperatuur.yaxis"></apx-chart>
    </div>
</div>

<div class="text-center">
    <button (click)="updateInfraroodlicht()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-dark focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-50 rounded-md group-hover:bg-opacity-0">
            Infrarood licht
        </span>
    </button>
    <button (click)="updateVisueellicht()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-dark focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-50 rounded-md group-hover:bg-opacity-0">
            Visueel licht
        </span>
    </button>
    <button (click)="updateLuxwaardes()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-dark focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-50 rounded-md group-hover:bg-opacity-0">
            Lux waardes
        </span>
    </button>
</div>
<div class="mr-4 ml-4 p-4 mb-4 text-sm text-gray-700 bg-gray-50 rounded-lg dark:bg-gray-50 dark:text-gray-300">
    <div>
        <apx-chart [series]="prechartOptionsLicht.series" [chart]="prechartOptionsLicht.chart"
            [dataLabels]="prechartOptionsLicht.dataLabels" [title]="prechartOptionsLicht.title"
            [noData]="prechartOptionsLicht.noData" [fill]="prechartOptionsLicht.fill"
            [xaxis]="prechartOptionsLicht.xaxis" [yaxis]="prechartOptionsLicht.yaxis"></apx-chart>
    </div>
</div>

<div class="text-center">
    <button (click)="updateBatterijspanning()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-dark focus:ring-4 focus:ring-teal-300 dark:focus:ring-teal-300">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-50 rounded-md group-hover:bg-opacity-0">
            Batterijspanning
        </span>
    </button>
    <button (click)="updateBatterijpercentage()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-dark focus:ring-4 focus:ring-teal-300 dark:focus:ring-teal-300">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-50 rounded-md group-hover:bg-opacity-0">
            Batterijpercentage
        </span>
    </button>
</div>
<div class="mr-4 ml-4 p-4 mb-4 text-sm text-gray-700 bg-gray-50 rounded-lg dark:bg-gray-50 dark:text-gray-300">
    <div>
        <apx-chart [series]="prechartOptionsBatterij.series" [chart]="prechartOptionsBatterij.chart"
            [dataLabels]="prechartOptionsBatterij.dataLabels" [title]="prechartOptionsBatterij.title"
            [noData]="prechartOptionsBatterij.noData" [fill]="prechartOptionsBatterij.fill"
            [xaxis]="prechartOptionsBatterij.xaxis" [yaxis]="prechartOptionsBatterij.yaxis"></apx-chart>
    </div>
</div>

<div class="text-center">
    <button (click)="updateRh()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-dark focus:ring-4 focus:ring-cyan-200 dark:focus:ring-cyan-800">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-50 rounded-md group-hover:bg-opacity-0">
            RH waardes (luchtvochtigheid)
        </span>
    </button>
    <button (click)="updateLw1()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-dark focus:ring-4 focus:ring-cyan-200 dark:focus:ring-cyan-800">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-50 rounded-md group-hover:bg-opacity-0">
            LW1 bladnat data
        </span>
    </button>
    <button (click)="updateLw2()"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-dark focus:ring-4 focus:ring-cyan-200 dark:focus:ring-cyan-800">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-50 rounded-md group-hover:bg-opacity-0">
            LW2 bladnat data
        </span>
    </button>
</div>
<div class="mr-4 ml-4 p-4 mb-4 text-sm text-gray-700 bg-gray-50 rounded-lg dark:bg-gray-50 dark:text-gray-300">
    <div>
        <apx-chart [series]="prechartOptionsLuchtvochtigheid.series" [chart]="prechartOptionsLuchtvochtigheid.chart"
            [dataLabels]="prechartOptionsLuchtvochtigheid.dataLabels" [title]="prechartOptionsLuchtvochtigheid.title"
            [noData]="prechartOptionsLuchtvochtigheid.noData" [fill]="prechartOptionsLuchtvochtigheid.fill"
            [xaxis]="prechartOptionsLuchtvochtigheid.xaxis" [yaxis]="prechartOptionsLuchtvochtigheid.yaxis"></apx-chart>
    </div>
</div>


<div class="grid grid-cols-12">
<div id="map" class="col-span-6 col-start-4 h-screen"></div>
</div>