<div style="text-align:center">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
        [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"
        [fill]="chartOptions.fill" [stroke]="chartOptions.stroke"></apx-chart>
</div>


<div style="text-align:center">
    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [dataLabels]="chartOptions2.dataLabels"
        [xaxis]="chartOptions2.xaxis" [yaxis]="chartOptions2.yaxis" [title]="chartOptions2.title"
        [stroke]="chartOptions2.stroke"></apx-chart>
</div>

<div style="text-align: center;">
    <button class="btn-grad" (click)="updateInfraroodlicht()">Infrarood licht</button>
    <button class="btn-grad" (click)="updateVisueellicht()">Visueel licht</button>
</div>
<div style="text-align:center">
    <apx-chart [series]="prechartOptions.series" [chart]="prechartOptions.chart"
        [dataLabels]="prechartOptions.dataLabels" [title]="prechartOptions.title" [noData]="prechartOptions.noData"
        [fill]="prechartOptions.fill" [xaxis]="prechartOptions.xaxis" [yaxis]="prechartOptions.yaxis"></apx-chart>
</div>