<app-gebruiker-form title="Wijzig account info"></app-gebruiker-form>


<div class="container mx-auto w-full px-8 pt-2 mb-32 lg:w-2/3">
    <h2 class="md:text-2xl font-bold mb-2 text-lg">Account</h2>
    
    <div class="p-4 border-2 rounded-md">
        <div *ngIf="loading" class="grid grid-cols-2 gap-4">
            <div class="col-span-2 lg:col-span-1">
                <h3 class="md:text-xl font-bold mb-2 text-lg">Gebruiker</h3>
                <div class="bg-gray-300 animate-pulse h-4 md:w-7/12 w-7/12 rounded-md my-2"></div>
                <div class="bg-gray-300 animate-pulse h-4 md:w-10/12 w-9/12 rounded-md my-2"></div>
                <div class="bg-gray-300 animate-pulse h-4 md:w-6/12 w-4/12 rounded-md my-2"></div>
                <div class="bg-gray-300 animate-pulse h-4 md:w-8/12 w-4/12 rounded-md my-2"></div>
                <div class="flex flex-row justify-around flex-wrap">
                    <div class="m-2">
                        <div class="bg-gray-300 animate-pulse h-4 w-40 rounded-md my-2"></div>
                    </div>
                    <div class="m-2">
                        <div class="bg-gray-300 animate-pulse h-4 w-40 rounded-md my-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-span-2 lg:col-span-1">
                <h3 class="md:text-xl font-bold mb-2 text-lg">Organisatie</h3>
                <div class="bg-gray-300 animate-pulse h-4 md:w-7/12 w-7/12 rounded-md my-2"></div>
                <div class="bg-gray-300 animate-pulse h-4 md:w-11/12 w-11/12 rounded-md my-2"></div>
                <div class="bg-gray-300 animate-pulse h-4 md:w-8/12 w-5/12 rounded-md my-2"></div>
                <div class="bg-gray-300 animate-pulse h-4 md:w-6/12 w-4/12 rounded-md my-2"></div>
            </div>
        </div>
        <div *ngIf="!loading" class="grid grid-cols-2 gap-4">
            <div class="col-span-2 lg:col-span-1">
                <h3 class="md:text-xl font-bold mb-2 text-lg">Gebruiker</h3>
                <p><span class="font-medium mr-1">Naam:</span>{{gebruiker.voornaam + ' ' + gebruiker.achternaam}}</p>
                <p><span class="font-medium mr-1">Email:</span>{{gebruiker.email}}</p>
                <p><span class="font-medium mr-1">GSM:</span>{{gebruiker.gsm}}</p>
                <p><span class="font-medium mr-1">Ontvang meldingen:</span>{{gebruiker.krijgtMelding ? 'Ja' : 'Nee'}}</p>
                <div class="flex flex-row justify-around flex-wrap">
                    <div class="m-2">
                        <a (click)="editGebruikerInfo()" class="text-wbRed-500 font-bold cursor-pointer">
                            Gegevens aanpassen
                        </a>
                    </div>
                    <div class="m-2">
                        <a routerLink='/requestWachtwoordReset' class="text-wbRed-500 font-bold cursor-pointer">
                            Wachtwoord aanpassen
                        </a>
                    </div>
                </div>
            </div>
            <div  class="col-span-2 lg:col-span-1">
                <h3 class="md:text-xl font-bold mb-2 text-lg">Organisatie</h3>
                <div *ngIf="gebruiker.organisatie">
                    <p><span class="font-medium mr-1">Naam:</span>{{gebruiker.organisatie.naam}}</p>
                    <p><span class="font-medium mr-1">Adres:</span>{{gebruiker.organisatie.straat + ' ' + gebruiker.organisatie.huisnummer}}{{gebruiker.organisatie.extra ? gebruiker.organisatie.extra : ''}}, {{gebruiker.organisatie.postcode + ' ' + gebruiker.organisatie.stad}}, {{gebruiker.organisatie.land}}</p>
                    <p><span class="font-medium mr-1">#Weerstations:</span>{{gebruiker.organisatie.weerstations.length}}</p>
                    <p><span class="font-medium mr-1">#Gebruikers:</span>{{gebruiker.organisatie.gebruikers.length}}</p>
                </div>
                <div *ngIf="gebruiker.organisatie == null">
                    <p><span class="font-medium mr-1"></span>U bent geen lid van een organisatie</p>
                </div>             
            </div>
        </div>
    </div>
</div>