<app-weerstation-toevoegen title="Weerstation toevoegen"></app-weerstation-toevoegen>
<app-weerstation-form title="Wijzig weerstation"></app-weerstation-form>

<div class="container mx-auto w-full px-8 pt-2 mb-32">
<div class="flex row justify-end">
    <button (click)="toevoegenWeerstation()"
        class="p-2 px-5 bg-transparent border-2 border-wbRed-500 text-wbRed-500 text-md font-bold rounded-lg transition-colors duration-700 transform hover:bg-wbRed-500 hover:text-white mb-2">
        Weerstation toevoegen
    </button>
</div>


<h2 class="text-2xl font-bold mb-2 ">Weerstations zonder organisatie</h2>
<div class="flex flex-col mb-10">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th></th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Naam
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Gsm nummer
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Activatie code <i class="far fa-question-circle text-base" tooltip="<p class='text-xs'>Hiermee kan een weerstation toegevoegd worden aan een organisatie.</p>" [options]="{placement: 'top', hideDelay: 20}"></i>
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Publiek zichtbaar <i class="far fa-question-circle text-base" tooltip="<p class='text-xs'>Zijn de metingen van het weerstation beschikbaar voor iedereen.</p>" [options]="{placement: 'top', hideDelay: 20}"></i>
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Dashboard
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Alarm- en Schakelwaarden
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Acties
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="loading">
                        <tr *ngFor="let n of [1, 2, 3]">
                            <td class="pl-2">
                                <div class="flex justify-around">
                                    <div class="w-4 bg-gray-300 h-4 rounded-sm animate-pulse mb-1"></div>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="w-10/12 bg-gray-300 h-4 rounded-full animate-pulse mb-1"></div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="w-8/12 bg-gray-300 h-4 rounded-full animate-pulse mb-1"></div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="w-6/12 bg-gray-300 h-4 animate-pulse mb-1"></div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="w-6/12 bg-gray-300 h-4 rounded-full animate-pulse mb-1"></div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex justify-around">
                                    <div class="w-4 bg-gray-300 h-4 rounded-sm animate-pulse mb-1"></div>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex justify-around">
                                    <div class="w-4 bg-gray-300 h-4 rounded-sm animate-pulse mb-1"></div>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex justify-around">
                                    <div class="w-3/12 bg-gray-300 h-4 rounded-full animate-pulse mr-1"></div>
                                    <div class="w-4/12 bg-gray-300 h-4 rounded-full animate-pulse"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!loading" class="bg-white divide-y divide-gray-200">
                        <!-- Row voor elk weerstation zonder organisatie -->
                        <ng-container *ngFor="let weerstation of weerstationsZonderOrganisatie">
                            <tr>
                                <td class="pl-2">
                                    <div class="flex justify-around">
                                        <a *ngIf="!weerstation.showDetails" (click)="showDetails(weerstation.id)" class="cursor-pointer" tooltip="<p class='text-xs'>Details bekijken</p>" [options]="{placement: 'top', hideDelay: 20}"><i class="fas fa-arrow-right"></i></a>
                                        <a *ngIf="weerstation.showDetails" (click)="hideDetails(weerstation.id)" class="cursor-pointer" tooltip="<p class='text-xs'>Details verbergen</p>" [options]="{placement: 'top', hideDelay: 20}"><i class="fas fa-arrow-down"></i></a>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm">
                                    {{ weerstation.naam }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm">
                                    {{ weerstation.gsmNummer }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm">
                                    <span class="bg-black hover:bg-gray-200 cursor-pointer" tooltip="<p class='text-xs'>Klik om te kopiëren</p>" [options]="{placement: 'top', hideDelay: 20}" (click)="copyCode(weerstation.uniekeCode)">{{ weerstation.uniekeCode }}</span>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm">
                                    <span *ngIf="weerstation.isPubliekZichtbaar; else showNietZichtbaar"
                                        class="px-2 inline-flex font-semibold rounded-full bg-green-100 text-green-800">Zichtbaar</span>
                                    <ng-template #showNietZichtbaar>
                                        <span class="px-2 inline-flex font-semibold rounded-full bg-orange-100 text-orange-800">
                                            Niet zichtbaar
                                        </span>
                                    </ng-template>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm">
                                    <div class="flex justify-around">
                                        <a href="weerstation/{{weerstation.id}}/dashboard" tooltip="<p class='text-xs'>Dashboard bekijken</p>" [options]="{placement: 'top', hideDelay: 20}"><i class="far fa-chart-bar text-2xl"></i></a>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm">
                                    <div class="flex justify-around">
                                        <a href="organisatiebeheerder/waardes/{{weerstation.id}}" tooltip="<p class='text-xs'>Alarm- en Schakelwaarden wijzigen</p>" [options]="{placement: 'top', hideDelay: 20}"><i class="far fa-bell text-2xl"></i></a>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                                    <div class="flex justify-around">
                                        <a class="text-indigo-600 hover:text-indigo-900 cursor-pointer mr-1 sm:mr-0"
                                            (click)="wijzigWeerstation(weerstation.id)">Wijzig</a>
                                        <a class="text-indigo-600 hover:text-indigo-900 cursor-pointer ml-1 sm:ml-0"
                                            (click)="verwijderWeerstation(weerstation.id)">Verwijder</a>
                                    </div>
                                </td>
                            </tr>
                            <!-- Detail row -->
                            <tr *ngIf="weerstation.showDetails" class="bg-gray-100">
                                <ng-container *ngIf="weerstation.laatsteMeting === 'loading'; else showDetails">
                                    <td colspan="8" class="px-6 py-4 whitespace-nowrap">
                                        <div class="lg:flex lg:justify-around">
                                            <i class="fas fa-circle-notch fa-spin mr-2 text-indigo-600 text-2xl text-center"></i>
                                        </div>
                                    </td>
                                </ng-container>
                                <ng-template #showDetails>
                                    <ng-container *ngIf="weerstation.laatsteMeting; else showGeenMeting">
                                        <td colspan="8" class="px-6 py-4 whitespace-nowrap">
                                            <p class="flex justify-around">
                                                <span>Laatste meting: {{ weerstation.laatsteMeting.time | date:'d/W/yyyy HH:mm:ss'}}</span>
                                                <span>Locatie: {{ weerstation.laatsteMeting.location }}</span>
                                                <span>Batterij: {{ weerstation.laatsteMeting.bap }}%</span>
                                                <span *ngIf="weerstation.laatsteMeting.sw1 === 0; else showNietGeschakeld"
                                                    class="px-2 inline-flex font-semibold rounded-full bg-green-100 text-green-800">Relais aan</span>
                                                <ng-template #showNietGeschakeld>
                                                    <span class="px-2 inline-flex font-semibold rounded-full bg-red-100 text-red-800">
                                                        Relais uit
                                                    </span>
                                                </ng-template>
                                            </p>
                                        </td>
                                    </ng-container>
                                    <ng-template #showGeenMeting>
                                        <td colspan="8" class="px-6 py-4 whitespace-nowrap">
                                            <div class="lg:flex lg:justify-around">
                                                <p>Er zijn nog geen metingen voor dit weerstation.</p>
                                            </div>
                                        </td>
                                    </ng-template>
                                </ng-template>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<h2 class="text-2xl font-bold mb-2">Weerstations van organisatie</h2>
<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th></th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Naam
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Gsm nummer
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Publiek zichtbaar <i class="far fa-question-circle text-base" tooltip="<p class='text-xs'>Zijn de metingen van het weerstation beschikbaar voor iedereen.</p>" [options]="{placement: 'top', hideDelay: 20}"></i>
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Dashboard
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Alarm- en Schakelwaarden
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Acties
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="loading">
                        <tr *ngFor="let n of [1, 2, 3]">
                            <td class="pl-2">
                                <div class="flex justify-around">
                                    <div class="w-4 bg-gray-300 h-4 rounded-sm animate-pulse mb-1"></div>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="w-10/12 bg-gray-300 h-4 rounded-full animate-pulse mb-1"></div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="w-10/12 bg-gray-300 h-4 rounded-full animate-pulse mb-1"></div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="w-6/12 bg-gray-300 h-4 rounded-full animate-pulse mb-1"></div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex justify-around">
                                    <div class="w-4 bg-gray-300 h-4 rounded-sm animate-pulse mb-1"></div>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex justify-around">
                                    <div class="w-4 bg-gray-300 h-4 rounded-sm animate-pulse mb-1"></div>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex justify-around">
                                    <div class="w-3/12 bg-gray-300 h-4 rounded-full animate-pulse mr-1"></div>
                                    <div class="w-4/12 bg-gray-300 h-4 rounded-full animate-pulse"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!loading" class="bg-white divide-y divide-gray-200">
                        <!-- Row voor elk weerstation van een organisatie -->
                        <ng-container *ngFor="let organisatie of organisaties">
                            <tr>
                                <td colspan="6" class="px-6 py-4 whitespace-nowrap">
                                    <div class="font-bold text-gray-900">
                                        {{ organisatie.naam }} <span class="font-normal text-sm">({{organisatie.weerstations.length}} weerstations)</span>
                                    </div>
                                </td>
                            </tr>
                            <ng-container *ngFor="let weerstation of organisatie.weerstations">
                                <tr>
                                    <td class="pl-2">
                                        <div class="flex justify-around">
                                            <a *ngIf="!weerstation.showDetails" (click)="showDetailsOrganisatie(weerstation.id)" class="cursor-pointer"
                                                tooltip="<p class='text-xs'>Details bekijken</p>" [options]="{placement: 'top', hideDelay: 20}"><i
                                                    class="fas fa-arrow-right"></i></a>
                                            <a *ngIf="weerstation.showDetails" (click)="hideDetailsOrganisatie(weerstation.id)" class="cursor-pointer"
                                                tooltip="<p class='text-xs'>Details verbergen</p>" [options]="{placement: 'top', hideDelay: 20}"><i
                                                    class="fas fa-arrow-down"></i></a>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm">
                                        {{ weerstation.naam }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm">
                                        {{ weerstation.gsmNummer }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm">
                                        <span *ngIf="weerstation.isPubliekZichtbaar; else showNietZichtbaar" class="px-2 inline-flex font-semibold rounded-full bg-green-100 text-green-800">Zichtbaar</span>
                                        <ng-template #showNietZichtbaar>
                                            <span class="px-2 inline-flex font-semibold rounded-full bg-orange-100 text-orange-800">
                                                Niet zichtbaar
                                            </span>
                                        </ng-template>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm">
                                        <div class="flex justify-around">
                                            <a href="weerstation/{{weerstation.id}}/dashboard" tooltip="<p class='text-xs'>Dashboard bekijken</p>" [options]="{placement: 'top', hideDelay: 20}"><i
                                                    class="far fa-chart-bar text-2xl"></i></a>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm">
                                        <div class="flex justify-around">
                                            <a href="admin/waardes/{{weerstation.id}}" tooltip="<p class='text-xs'>Alarm- en Schakelwaarden wijzigen</p>"
                                                [options]="{placement: 'top', hideDelay: 20}"><i class="far fa-bell text-2xl"></i></a>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                                        <div class="flex justify-around">
                                            <a class="text-indigo-600 hover:text-indigo-900 cursor-pointer mr-1 sm:mr-0"
                                                (click)="wijzigWeerstation(weerstation.id)">Wijzig</a>
                                            <a class="text-indigo-600 hover:text-indigo-900 cursor-pointer ml-1 sm:ml-0"
                                                (click)="verwijderWeerstation(weerstation.id)">Verwijder</a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Detail row -->
                                <tr *ngIf="weerstation.showDetails" class="bg-gray-100">
                                    <ng-container *ngIf="weerstation.laatsteMeting === 'loading'; else showDetails">
                                        <td colspan="8" class="px-6 py-4 whitespace-nowrap">
                                            <div class="lg:flex lg:justify-around">
                                                <i class="fas fa-circle-notch fa-spin mr-2 text-indigo-600 text-2xl text-center"></i>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-template #showDetails>
                                        <ng-container *ngIf="weerstation.laatsteMeting; else showGeenMeting">
                                            <td colspan="8" class="px-6 py-4 whitespace-nowrap">
                                                <p class="flex justify-around">
                                                    <span>Laatste meting: {{ weerstation.laatsteMeting.time | date:'d/W/yyyy HH:mm:ss'}}</span>
                                                    <span>Locatie: {{ weerstation.laatsteMeting.location }}</span>
                                                    <span>Batterij: {{ weerstation.laatsteMeting.bap }}%</span>
                                                    <span *ngIf="weerstation.laatsteMeting.sw1 === 0; else showNietGeschakeld"
                                                        class="px-2 inline-flex font-semibold rounded-full bg-green-100 text-green-800">Relais
                                                        aan</span>
                                                    <ng-template #showNietGeschakeld>
                                                        <span class="px-2 inline-flex font-semibold rounded-full bg-red-100 text-red-800">
                                                            Relais uit
                                                        </span>
                                                    </ng-template>
                                                </p>
                                            </td>
                                        </ng-container>
                                        <ng-template #showGeenMeting>
                                            <td colspan="8" class="px-6 py-4 whitespace-nowrap">
                                                <div class="lg:flex lg:justify-around">
                                                    <p>Er zijn nog geen metingen voor dit weerstation.</p>
                                                </div>
                                            </td>
                                        </ng-template>
                                    </ng-template>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
