<app-weerstations-activeren title="Weerstation activeren"></app-weerstations-activeren>
<app-weerstations-organisatie-form title="Weerstation aanpassen"></app-weerstations-organisatie-form>

<ng-container *ngIf="!loading; else showLoading">
    <ng-container *ngIf="organisatie; else showGeenOrganisatie">
        <div class="container mx-auto w-full px-8 pt-2">
            <div class="flex flex-wrap pt-2">
                <div class="md:text-3xl text-xl font-bold mb-2 grow">Weerstations van {{ organisatie.naam }}</div>
                <div class="flex row justify-end">
                    <button (click)="weerstationActiveren()"
                        class="p-2 px-5 bg-transparent border-2 border-wbRed-500 text-wbRed-500 text-md font-bold rounded-lg transition-colors duration-700 transform hover:bg-wbRed-500 hover:text-white mb-2">
                        Weerstation activeren
                    </button>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-wrap lg:flex-row container mx-auto w-full px-8 mb-32">
            <div class="w-full grid grid-cols-1 lg:grid-cols-2 pb-6 gap-8">
                <div *ngFor="let weerstation of organisatie.weerstations"
                    class="bg-white border-4 border-wbRed-500 rounded-lg flex flex-col sm:flex-row">
                    <!-- Slider -->
                    <div class="flex flex-row sm:flex-col text-center items-center justify-around w-full h-16 sm:h-auto sm:w-40 border-b-4 sm:border-b-0 sm:border-r-4 border-wbRed-500"
                        [ngClass]="{'bg-wbRed-500': weerstation.isRelaisManueelAan === 1}">
                        <span class="text-sm font-medium"
                            [ngClass]="{'text-white': weerstation.isRelaisManueelAan === 1}">Modus</span>
                        <ng-toggle [value]="weerstation.isRelaisManueelAan === 1 ? true : false"
                            (change)="toggleRelais(weerstation.id)"
                            [color]="{ unchecked: '#DDDEE3', checked: '#6C9A8B'}"
                            class="w-2 place-self-center -translate-x-5">
                        </ng-toggle>
                        <span class="text-xs font-medium"
                            [ngClass]="{'text-white': weerstation.isRelaisManueelAan === 1}">{{
                            weerstation.isRelaisManueelAan === 1 ? "Manueel aan" : "Automatisch" }}
                            <i *ngIf="weerstation.isRelaisManueelAan === 0" class="far fa-question-circle text-base"
                                tooltip="<p class='text-xs'>De relais van het weerstation zal schakel op basis van de schakelwaardes.</p>"
                                [options]="{placement: 'top', hideDelay: 20}"></i>
                            <i *ngIf="weerstation.isRelaisManueelAan === 1" class="far fa-question-circle text-base"
                                tooltip="<p class='text-xs'>De relais van het weerstation zal altijd aan zijn.</p>"
                                [options]="{placement: 'top', hideDelay: 20}"></i>
                        </span>
                    </div>
                    <!-- Info -->
                    <div class="p-5 rounded-md relative h-full w-full">
                        <div class="flex flex-wrap pb-4">
                            <div class="text-2xl font-semibold grow mr-4">{{ weerstation.naam }}</div>
                            <a href="organisatiebeheerder/waardes/{{weerstation.id}}"
                                class="font-bold cursor-pointer flex text-wbRed-500"
                                tooltip="<p class='text-sm'>Alarm- & schakelwaardes instellen</p>"
                                [options]="{placement: 'top', hideDelay: 20}">
                                <i class="far fa-bell text-2xl mr-2"></i>
                            </a>
                            <a (click)="wijzigWeerstation(weerstation.id)"
                                class="font-bold cursor-pointer flex text-wbRed-500"
                                tooltip="<p class='text-sm'>Weerstation aanpassen</p>"
                                [options]="{placement: 'top', hideDelay: 20}">
                                <i class="far fa-edit text-2xl ml-2"></i>
                            </a>
                        </div>
                        <div>
                            <span *ngIf="weerstation.isPubliekZichtbaar; else showNietZichtbaar"
                                tooltip="<p class='text-sm'>De metingen van het weerstation zijn raadpleegbaar voor iedereen.</p>"
                                [options]="{placement: 'right', hideDelay: 20}"
                                class="px-2 inline-flex font-semibold rounded-full bg-green-100 text-green-800">Publiek
                                zichtbaar</span>
                            <ng-template #showNietZichtbaar>
                                <span class="px-2 inline-flex font-semibold rounded-full bg-orange-100 text-orange-800"
                                    tooltip="<p class='text-sm'>De metingen van het weerstation zijn enkel raadpleegbaar voor organisatie leden.</p>"
                                    [options]="{placement: 'right', hideDelay: 20}">
                                    Niet publiek zichtbaar
                                </span>
                            </ng-template>
                            <hr class="my-2">
                            <p><span class="font-medium text-lg">Laatste gegevens:</span></p>
                            <ng-container *ngIf="weerstation.laatsteMeting; else showGeenMeting">
                                <ng-container *ngIf="weerstation.laatsteMeting === 'loading'; else showLaatsteGegevens">
                                    <div>
                                        <i
                                            class="fas fa-circle-notch fa-spin mr-2 text-wbRed-500 text-2xl text-center"></i>
                                    </div>
                                </ng-container>
                                <ng-template #showLaatsteGegevens>
                                    <p><span class="font-medium mr-1">Datum:</span>{{ weerstation.laatsteMeting.time |
                                        date:'d/W/yyyy HH:mm:ss'}}</p>
                                    <p><span class="font-medium mr-1">Locatie:</span>{{
                                        weerstation.laatsteMeting.location }}</p>
                                    <p><span class="font-medium mr-1">Status:</span>
                                        <span *ngIf="weerstation.laatsteMeting.sw1 === 1; else showUit"
                                            class="px-2 inline-flex font-semibold rounded-full bg-green-100 text-green-800">
                                            Aan
                                        </span>
                                        <ng-template #showUit>
                                            <span
                                                class="px-2 inline-flex font-semibold rounded-full bg-red-100 text-red-800">
                                                Uit
                                            </span>
                                            <span *ngIf="weerstation.isRelaisManueelAan"
                                                class="text-sm text-orange-800">
                                                (Wordt elke 15 minuten geupdate.)
                                            </span>
                                        </ng-template>
                                    </p>
                                    <p>
                                        <span class="font-medium mr-1">Batterij:</span><span class="font-medium"
                                            [ngClass]="[('text-percentage-' + math.round(weerstation.laatsteMeting.bap/ 10) * 10)]">
                                            {{weerstation.laatsteMeting.bap }}%
                                        </span>
                                    </p>
                                </ng-template>
                            </ng-container>
                            <ng-template #showGeenMeting>
                                <p>Dit weerstation heeft nog geen metingen.</p>
                            </ng-template>
                        </div>
                        <p class="pt-3">
                            <a href="weerstation/{{weerstation.id}}/dashboard"
                                class="font-bold hover:underline cursor-pointer flex items-center text-wbRed-500">
                                <span>Toon metingen</span><i class="ml-2 fas fa-arrow-right"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #showGeenOrganisatie>
        <h2>Uw account is geen lid van een organiastie</h2>
    </ng-template>
</ng-container>
<ng-template #showLoading>
    <div class="container mx-auto w-full px-8 pt-2">
        <div class="flex flex-wrap pt-2">
            <div class="w-4/12 bg-gray-300 h-10 rounded-xl animate-pulse mb-1"></div>
        </div>
    </div>
    <div class="flex flex-col flex-wrap lg:flex-row container mx-auto w-full px-8 pt-4">
        <div class="w-full grid grid-cols-1 lg:grid-cols-2 pb-6 gap-8">
            <div *ngFor="let n of [1, 2, 3, 4]" class="bg-gray-300 h-72 rounded-lg animate-pulse mb-1">
            </div>
        </div>
    </div>
</ng-template>
