<div *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex mx-4">
    <div class="relative w-auto my-6 mx-auto max-w-6xl sm:w-10/12">
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                <h3 class="text-3xl font-semibold">
                    {{ title }}
                </h3>
                <button
                    class="p-1 ml-auto bg-transparent border-0 text-black opacity-50 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                    (click)="closeModal()">
                    <span
                        class="bg-transparent text-black opacity-50 h-6 w-6 text-2xl block outline-none focus:outline-none">
                        ×
                    </span>
                </button>
            </div>
            <!--body-->
            <div class="relative p-6 flex-auto">
                <!-- If loading, show skeleton -->
                <form *ngIf="loading" action="#">
                    <div class="bg-white">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6">
                                <label class="block font-medium text-gray-700">Naam</label>
                                <div class="w-12/12 bg-gray-300 h-8 rounded-md animate-pulse"></div>
                            </div>

                            <div class="col-span-6">
                                <label class="block font-medium text-gray-700">Omschrijving</label>
                                <div class="w-12/12 h-40 bg-gray-300 h-8 rounded-md animate-pulse"></div>
                            </div>
                        </div>
                        <div class="px-4 py-3">
                            <div class="w-32 mx-auto mt-1 bg-gray-300 h-10 rounded-md animate-pulse"></div>
                        </div>
                    </div>
                </form>
                <!-- Done loading, show form -->
                <form *ngIf="!loading" (ngSubmit)="onSubmit()" #sensorForm="ngForm">
                    <div class="bg-white">
                        <div class="grid grid-cols-6 gap-6">

                            <div class="col-span-6">
                                <label for="naam" class="block font-medium text-gray-700">Naam</label>
                                <input type="text" name="naam" id="naam" [(ngModel)]="sensor.naam" #naam="ngModel"
                                    required minlength="2"
                                    class="mt-1 p-2 focus:ring-2 focus:ring-offset-2 focus:ring-wbRed-500 focus:border-wbRed-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md invalid:border-red-500 invalid:ring-red-500">
                                <div *ngIf="naam.invalid && (naam.dirty || naam.touched)"
                                    class="text-xs text-red-500 font-medium">
                                    <span *ngIf="naam.errors?.['required']">
                                        Naam is veplicht.
                                    </span>
                                    <span *ngIf="naam.errors?.['minlength']">
                                        Naam moet minstens 2 karakters bevatten.
                                    </span>
                                </div>
                            </div>

                            <div class="col-span-6">
                                <label for="omschrijving" class="block font-medium text-gray-700">Omschrijving</label>
                                <textarea rows="5" name="omschrijving" id="omschrijving" [(ngModel)]="sensor.omschrijving" placeholder="Omschrijving, Eenheid, Betekenis waarden, ..."
                                    #omschrijving="ngModel" required minlength="2"
                                    class="mt-1 p-2 block w-full shadow-sm sm:text-sm rounded-md border border-gray-300 focus:ring-2 focus:ring-offset-2 focus:ring-wbRed-500 focus:border-wbRed-500 invalid:border-red-500 invalid:ring-red-500"></textarea>
                                <div *ngIf="omschrijving.invalid && (omschrijving.dirty || omschrijving.touched)"
                                    class="text-xs text-red-500 font-medium">
                                    <span *ngIf="omschrijving.errors?.['required']">
                                        Omschrijving is veplicht.
                                    </span>
                                    <span *ngIf="omschrijving.errors?.['minlength']">
                                        Omschrijving moet minstens 2 karakters bevatten.
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="px-4 py-3 text-center sm:px-6">
                        <button type="submit" [disabled]="!sensorForm.form.valid"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm font-medium rounded-md text-white bg-wbRed-500 hover:bg-wbRed-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-wbRed-500 disabled:bg-gray-400 disabled:cursor-not-allowed">
                            Opslaan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>