/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  scroll-behavior: smooth;
}



// Styling options for dialogservice
ngneat-dialog {
  .ngneat-dialog-backdrop {
    .ngneat-dialog-content {
      p {
          font-size: medium !important;
      }
      
      .ngneat-dialog-primary-btn {
        background-color: #7e1b27;
      }
      .ngneat-dialog-secondary-btn {
        color: #7e1b27;
        font-weight: bold;
      }

      .ngneat-dialog-primary-btn,
      .ngneat-dialog-secondary-btn {
        border-color: #7e1b27;
      }
    }
  }
}