<div *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex mx-4">
  <div class="relative w-auto my-6 mx-auto max-w-6xl w-11/12 sm:w-10/12">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          {{ title }}
        </h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-50 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="closeModal()">
          <span class="bg-transparent text-black opacity-50 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <!-- If loading, show skeleton -->
        <form *ngIf="loading" action="#">
          <div class="bg-white">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label class="block font-medium text-gray-700">Naam</label>
                <div class="w-12/12 mt-1 bg-gray-300 h-8 rounded-md animate-pulse"></div>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label class="block font-medium text-gray-700">GSM nummer</label>
                <div class="w-12/12 mt-1 bg-gray-300 h-8 rounded-md animate-pulse"></div>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label class="block font-medium text-gray-700">Publiek zichtbaar</label>
                <div class="w-6/12 bg-gray-300 h-4 rounded-full animate-pulse"></div>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label class="block font-medium text-gray-700">Organisatie</label>
                <div class="w-12/12 mt-1 bg-gray-300 h-8 rounded-md animate-pulse"></div>
              </div>
            </div>
            <div class="px-4 py-3">
              <div class="w-32 mx-auto mt-1 bg-gray-300 h-10 rounded-md animate-pulse"></div>
            </div>
          </div>
        </form>
        <!-- Done loading, show form -->
        <form *ngIf="!loading" (ngSubmit)="onSubmit()" #gebruikerForm="ngForm">
          <div class="bg-white">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="naam" class="block font-medium text-gray-700">Naam</label>
                <input type="text" name="naam" id="naam" [(ngModel)]="weerstation.naam" #naam="ngModel"
                  required minlength="2"
                  class="mt-1 p-2 focus:ring-indigo-500 border focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md invalid:border-red-500 invalid:ring-red-500">
                <div *ngIf="naam.invalid && (naam.dirty || naam.touched)"
                  class="text-xs text-red-500 font-medium">
                  <span *ngIf="naam.errors?.['required']">
                    Naam is veplicht.
                  </span>
                  <span *ngIf="naam.errors?.['minlength']">
                    Naam moet minstens 2 karakters bevatten.
                  </span>
                </div>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="gsmNummer" class="block font-medium text-gray-700">GSM nummer</label>
                <input type="text" name="gsmNummer" id="gsmNummer" [(ngModel)]="weerstation.gsmNummer"
                  #gsmNummer="ngModel" required minlength="10" maxlength="10"
                  class="mt-1 p-2 block w-full shadow-sm sm:text-sm rounded-md border border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 invalid:border-red-500 invalid:ring-red-500">
                <div *ngIf="gsmNummer.invalid && (gsmNummer.dirty || gsmNummer.touched)"
                  class="text-xs text-red-500 font-medium">
                  <span *ngIf="gsmNummer.errors?.['required']">
                    GSM nummer is veplicht.
                  </span>
                  <span *ngIf="gsmNummer.errors?.['minlength'] || gsmNummer.errors?.['maxlength']">
                    GSM nummer moet 10 karakters bevatten.
                  </span>
                </div>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label class="block font-medium text-gray-700">Publiek zichtbaar</label>
                <ng-toggle [value]="weerstation.isPubliekZichtbaar == 1 ? true : false"
                  [color]="{ unchecked: '#DDDEE3', checked: '#4F46E5'}" (change)="changeZichtbaarheid(weerstation)" class="w-2">
                </ng-toggle>
                <div class="inline">
                  {{weerstation.isPubliekZichtbaar == 1 ? "Zichtbaar" : "Niet zichtbaar"}}
                </div>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="country" class="block font-medium text-gray-700">Organisatie</label>
                <select id="country" name="organisatieId" [(ngModel)]="weerstation.organisatieId"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option *ngFor="let organisatie of organisaties" value="{{ organisatie.id }}">{{ organisatie.naam }}
                  </option>
                </select>
              </div>

              <div *ngIf="weerstation.uniekeCode" class="col-span-6">
                <label class="block font-medium text-gray-700">Activatie code</label>
                <p>{{ weerstation.uniekeCode }}</p>
                <p><a (click)="genereerCode()" class="text-indigo-600 hover:text-indigo-900 cursor-pointer font-medium">Nieuwe code genereren</a></p>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 text-center sm:px-6">
            <button type="submit" [disabled]="!gebruikerForm.form.valid"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:bg-gray-400 disabled:cursor-not-allowed">
              Opslaan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>